// -----------PAGE PLANNING & TARIFS----------//

/* SECTION PLANNING */

.quote-planning
{
	.latoL();
	.spacing100();
	font-style: italic;
	color: grey;
	font-size: 1.3rem;
	margin-top: 50px;
	margin-bottom: 70px;

	@media (max-width: 768px) { font-size: 1rem; }
}

.planning-img, .tarifs-img
{
	.shadow();
	position: relative;
}

.yoga3-planning
{
	position: absolute;
	top: -60px;
	left: 8%;
}

.planning-p, .tarifs-p
{
	margin-top: 50px;
	margin-bottom: 50px;
	.latoL();
	.spacing100();
	color: @mygrey;
	font-size: 1.4rem;
}

.planning-p a, .tarifs-p a
{
	.latoB();
	color: @myblue;
}

.button-rejoindre
{
	background-color: @myred;
	border: none;
	padding: 10px 30px;
	.opensansL();
	.spacing50();
	color: white;
	margin-bottom: 100px;

	&:hover
	{
		background-color: @hoverred;
		color: white;
		text-decoration: none;
	}

	&:active, &:focus
	{
		background-color: @hoverred !important;
	}
}



/* SECTION PLANNING DYNAMIQUE */
.planning-dynamique
{
	margin-bottom: 100px;
	.latoL();
}

.planning-head
{
	background-color: #CBCBCB;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 30px;
	.shadow();
}

.planning-footer
{
	background-color: #CBCBCB;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 30px;
	.shadow();
}

.titre-head
{
	.latoB();
	color: @mygrey;
}

.planning-head a, .planning-footer a
{
	color: black;

	&:hover
	{
		text-decoration: none;
		.latoB();
	}
}

.planning-dynamique p
{
	margin-bottom: 0;
}

.background-light
{
	background-color: @lightcream;
	padding: 30px;
	border-bottom: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
	border-left: 1px solid #CBCBCB;
	.shadow();
}

.background-jour
{
	background-color: #CBCBCB;
	padding: 30px;
	.shadow();
}

.planning-dynamique select
{
	padding: 5px;
	border-radius: 5px;
	margin-left: 5px;
}

.planning-search a
{
	color: @myred;
	.latoB();

	&:hover
	{
		border-bottom: 2px solid @myred;
		text-decoration: none;
	}
}

.background-jour p
{
	.latoB();
	color: @myblue;
}

.planning-dynamique .voir-description
{
	color: @hoverblue;
	.latoB();
}

.places-dispo
{
	font-style: italic;
}

.planning-dynamique .btn-reserver
{
	background-color: @myblue;
	.opensans();
	font-size: 0.9rem;
	border: none;

	&:hover, &:focus, &:active
	{
		background-color: @hoverblue !important;
	}
}

.confirmation-reservation
{
	margin-top: 20px;
	.latoB();
}


/* TARIFS */

.yoga4-tarifs
{
	position: absolute;
	top: -77px;
	left: 8%;
}

.yoga-senior-tarifs
{
	position: absolute;
	top: -62px;
	right: 27%;
}

